@font-face {
    font-family: 'kaushan';
    src: url('kaushan-script/KaushanScript-Regular.woff2') format('woff2'),
        url('kaushan-script/KaushanScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    margin: 0;
}

#fabric-shoes-img {
    height: 100vh;
    position: relative;
    display: inline-block;
}

#logo-thing {
    position: absolute;
    top: 20%;
    background-color: rgba(255, 228, 196, 0.5);
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 83px;
}

#logo-image {
    height: 10vh;
    margin-right: 10px;
}

#brand-name {
    font-family: "kaushan";
    font-size: 48px;
    color: lightcoral;
}

#credit {
    font-size: 10px;
    color: white;
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 50px;
}

#credit span {
    text-decoration: underline;
}

form {
    background-color: white;
    align-content: center;
    padding-left: 60px;
}

.text {
    font-size: 20px;
    text-align: left;
}

.text span {
    font-style: italic;
}

fieldset {
    width: 100%;
    border: none;
    box-shadow: 2px 2px 5px lightgray;
    padding: 0px 50px 0px 20px;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.side-by-side {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}

input {
    width: 80%;
}

label {
    font-size: 12px;
}

button {
    margin: 15px;
    margin-left: 0;
    padding: 15px;
    background-color: lightcoral;
    border-radius: 4px;
    border-color: lightcoral;
    font-weight: bold;
}

#account {
    font-size: 14px;
}

#account span {
    color: lightcoral;
    font-weight: bolder;
}

/* pseudoclasses/-elements */

input[type="password"]:invalid {
    outline: 2px solid red;
    outline-offset: -2px;
}

input:focus {
    outline-color: blue;
    box-shadow: 2px 2px 6px 2px rgb(82, 82, 247);
}